body{
height: 100%;
margin: 0;
position: absolute;
width: 100%;
display: table;


}
/*Navbar*/
header {
    color: white;

}
/*Navbar: Logo*/
.logo-amarillo{
    position: relative;
    left: 50px;
    bottom: -20px;
}
/*Navbar: menú horizontal*/
.menu-hero li{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color:#2b2b2b;
    bottom: 25px;
    left: 800px;
    display: inline;
    padding: 30px;


}
/*Primera página: Hero*/
@media (min-width: 1281px) {
.first-card{
    background-color: #f7b617;
    width: 35rem;
    height: 25rem;
    position: relative;
    /*float: left;*/ 
    bottom:-150px;
    left:750px;
}
/*Hero: Logo blanco*/
.img-logo-white{
    position: relative;
    right: -165px;
    bottom:30px;
}
/*Hero:Botones*/
.registro{
    position: relative;
    bottom: -40px;
    left: -93px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
    border-radius: 6px;
    border: 2px solid white;
}
.convertir{
    position: relative;
    bottom: -30px;
    left: 30px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
    border-radius: 6px;
    border: 2px solid white;
}

/*Texto de Hero*/

.font-first{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
    position: relative;
    right: -30px;
    bottom: -30px;

}
.font-sec{
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
    right: -250px;
    bottom: -30px;
    font-size: 14px;
}
/*Hero: imágen de fondo*/
.crop-img{
    background-image: url("img/taxi.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;/*se adapta al tamaño del elemento en donde está*/
    overflow: hidden;
    background-position-y: 93%; /*con esto es posible desplazar la imagen hacía arriba o hacía abajo*/
}
/*INFORMACIÓN*/
.second-section{
    background-color: #f7b617;
    position: relative;
    height: 40rem;
    width: 81.5rem;
    
}

.second-card{
    position: relative;
    background-color:#f7b617;
    background-size: cover;
    height: 30rem;
    width: 70rem;
    padding: 20px;
    border-style: solid;
    border-color: white;
    bottom: -60px;
}
.cel{
    position: relative;
    left: 150px;
    bottom: 330px;
   

}
/*INFORMACIÓN: TEXTOS*/
.descarga-app, .text-descarga{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    position: relative;
    left: 650px;
    bottom: -25px;

}
}